.city-search-panel {
  border-bottom: 1px solid #aaa;
}

weather-wrapper {
  min-height: 200px;
}

.current-weather {
}

.forecast-weather {
  border-left: 1px solid #ccc;
}

.daily-forecast-panel {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 340px;
}
