@border-color: #e1e1e1;

.city-search-form {

  input.city-search-input {
    width: 300px;
  }

}

.city-search-panel {
  border-bottom: 1px solid @border-color;
  min-height: 100px;
}

.weather-wrapper {
  min-height: 200px;
}

.current-weather, .forecast-weather {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: @border-radius-base;
  border-bottom-left-radius: @border-radius-base;
  //border-bottom: 1px solid #ddd;
  padding: 10px;
}


.forecast-weather {
  min-height: 750px;
}

.daily-forecast-panel > .thumbnail{
  margin: 5px 0;
  padding: 0px;
  border: 1px solid @border-color;
  min-height: 340px;
}

.daily-forecast-panel > .thumbnail > .caption {
  border-bottom: 1px solid @border-color;
  background: #fafafa;
}

.daily-forecast-panel > .thumbnail > table {
  margin: 5px;
}

.weather-wrapper .nav-tabs {
  border: none
}

.weather-wrapper .nav-tabs > li {
  width: 50%;
}

.nav-pills > li.active {
  border: 1px solid @border-color;
  border-bottom: none;
  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
